<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="javascript:void(0);">Alpha Blog</a>
      by <a href="https://github.com/lfbos">Luis Boscan</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_page_path %></li>
      </ul>
    </nav>
  </footer>
</div>